<ion-view class="bg-gradient-content1">
  <ion-content>
    <h1 class="title">J weds B</h1>
    <div class="invitation-content">
      I have never seen her till then.
      <br>
      Never knew she was right there in my neighborhood.
      <br>
      But when I met her, I knew this is for life.
      <br>
      <br>

      Request the pleasure of your company at the celebration of our wedding

      <h3>
        <br>
        <div class="naming">
          T M Jeyabalaji
          <br>
          with
          <br>
          M L Bavani
        </div>
        <br>
        With our parents' blessings we are stepping into our new life, together, on
        <br>
        Sunday, 4th June 2017
        <br>
        Muhurtham
        <br>
        9.30 AM to 10.30 AM
      </h3>
    </div>

    <div class="venue">
        <label class="title">
          Engagement
        </label>
         <br />
         Saturday, 3rd June 2017, <br />
         7 PM to 8 PM <br />
      </div>
      <br />
    </div>

    <div class="venue">
      <div class="left">
        <label class="title">
          Groom Venue
        </label>
         <br />
        J.M. Mahal, <br />
        Madurai - Rameshwaram Road, <br />
        Paramakudi <br />
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-9487887229">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('groom')">Show Route</span>
        </div>

      </div>
      <br /><br />
      <div class="right">
        <label class="title">
          Bride Venue
        </label>
          <br />
        Gowri Bhavanam <br />
        S.S Kovil Street, <br />
        Paramakudi <br>
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-7299447518">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('bride')">Show Route</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="extra-info">
      <div class="list">
        <a class="item item-icon-right" href="#/invitation-classic/tamil">
          <i class="icon ion-chevron-right"></i>
          Invitation (Tamil)
        </a>
        <a class="item item-icon-right" href="#/invitation-classic/english">
          <i class="icon ion-chevron-right"></i>
          Invitation (English)
        </a>
        <a class="item item-icon-right" href="#/wishes">
          <i class="icon ion-chevron-right"></i>
          Send Wishes
        </a>
        <!-- <a class="item item-icon-right" href="#/invitation-classic">
          Invitation (Classic)
          <i class="icon ion-android-arrow-dropright"></i>
        </a> -->
      </div>
    </div>

    <br />
  </ion-content>
  <!-- <span class="back-button" ng-click="goBack()">
    <i class="ion-android-arrow-back"></i>
  </span> -->
</ion-view>
