<ion-view class="bg-gradient-content1">
  <ion-content>
    <h1 class="title">K weds VK</h1>
    <div class="invitation-content">
    <!--  I have never seen her till then.
      <br>
      Never knew she was right there in my neighborhood.
      <br>
      But when I met her, I knew this is for life.
      <br>
      <br> -->
      <h3>
        <br>
        <div class="naming">
          Kiranmai
          <br>
          with
          <br>
         Vamshi krishna
        </div>
        <br>
        With our parents' blessings we are stepping into our new life, together, on
        <br>
        Thursday, 27th July 2017
        <br>
        Muhurtham
        <br>
        9.48 PM
        <br>
         Request the pleasure of your company at the celebration of our wedding
      </h3>
    </div>

    
      <br />
    </div>

   <!--<div class="venue">
      <div class="left">
        <label class="title">
          Groom Venue
        </label>
         <br />
        J.M. Mahal, <br />
        Madurai - Rameshwaram Road, <br />
        Paramakudi <br />
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-9487887229">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('groom')">Show Route</span>
        </div> -->

     <!-- </div>
      <br /><br />
      <div class="right">
        <label class="title">
          Bride Venue
        </label>
          <br />
        Gowri Bhavanam <br />
        S.S Kovil Street, <br />
        Paramakudi <br>
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-7299447518">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('bride')">Show Route</span>
        </div>
      </div> 
    </div> -->
    <br />
    <br />
    <br />
    <br />

    <div class="extra-info">
      <div class="list">
        <a class="item item-icon-right" href="#/invitation-classic/telugu">
          <i class="icon ion-chevron-right"></i>
          Invitation (Telugu)
        </a>
        <a class="item item-icon-right" href="#/invitation-classic/english">
          <i class="icon ion-chevron-right"></i>
          Invitation (English)
        </a>
        <a class="item item-icon-right" href="#/wishes">
          <i class="icon ion-chevron-right"></i>
          Send Wishes
        </a> 
        <!-- <a class="item item-icon-right" href="#/invitation-classic">
          Invitation (Classic)
          <i class="icon ion-android-arrow-dropright"></i>
        </a> -->
      </div>
    </div>

    <br />
  </ion-content>
    <span class="back-button" ng-click="goBack()">
    <i class="ion-android-arrow-back"></i>
  </span> 
</ion-view>
