<ion-view class="bg-gradient">
    <h1 class="title">Wedding Invitation</h1>
    <div>
      <div class="rem-days-big" ng-if="!mainContent">
          <span>{{days}}</span>
          <span class="remaining-subtitle">{{daysSubtitle}}</span>
          <!-- <label>{{hours}}:{{minutes}}:{{seconds}}</label> -->

        <div class="time">
          <!-- <span>{{days}}</span>d &nbsp; -->
          <span>{{hours}}</span> h &nbsp;
          <span>{{minutes}}</span> m &nbsp;
          <span>{{seconds}}</span> s &nbsp;
        </div>
        <br />
        <div class="togo">
          To Go
        </div>
      </div>
      <div class="main-content" ng-if="mainContent">
        {{mainContent}}
      </div>
    </div>
    <div class="bg-board">
        <div class="board-content">
          <!-- <label class="groom">Jeyabalaji</label>
          <label class="joiner">weds</label>
          <label class="bride">Bavani</label>
          <label class="date">04 June 2017</label> -->
          <div class="remaining">
            <!-- <label>{{remaining}}</label> -->
            <div class="count-down">
              <!-- <label>{{remaining}}</label> -->
            </div>
            <span class="come-in" ng-click="description()">
              <i class="ion-android-arrow-forward" ></i>
            </span>
          </div>
        </div>
    </div>
</ion-view>
